<footer class="bx footer">
	<div class="container">
		<div class="bx txt-a-c cta-wrapper line-cta">
			<a href="/SmithLab.github.io/recruitment" class="btn btn-primary footer-nav">Join Our Group</a>
			<a href="#" class="btn btn-primary footer-nav">Our Sponsers</a>
			<a href="/SmithLab.github.io/contact" class="btn btn-primary footer-nav">Get in Touch</a>
		</div>
	</div>
</footer>


<script type="text/javascript" src="js/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>