<header class="navbar" role="navigation">
<div class="container">
<div class="navbar-header s-lab-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">Smith Lab | GW School of Public Health</a>
</div>

<div class="collapse navbar-collapse" id="navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="/">Home</a></li>
<li><a href="/team">Our Team</a></li>
<li><a href="/research">Research</a></li>
<li><a href="/publications">Publications</a></li>
<li><a href="/contact">Get in Touch</a></li>
<li><a href="/recruitment">Join Us</a></li>
<li><a href="https://github.com/SmithLabGWSPH/SmithLabGWSPH.github.io" target="_blank"><i class="fa fa-github" style="font-size:24px"></i></a></li>

<!-- <li><a href="/SmithLab.github.io/data">Data</a></li> -->
<!-- <li><a href="/SmithLab.github.io/contact">Contact</a></li> -->
</ul>
</div>
</div>
</header>
